<section class="section" id="quotes">

  <div class="quotes-container">

    <ul>
      <li>
        <p class="quote is-size-3 is-size-4-mobile">Stephanie was a pleasure to deal with. She created some excellent designs for our online projects and was an asset to the team, definitely recommended.</p>
        <p class="author is-size-5 is-size-6-mobile">Jim Odell, NHS</p>
      </li>
      <li>
        <p class="quote is-size-3 is-size-4-mobile">Steph is an extremely creative, detail-oriented designer. During her time working as a contractor for Human Appeal I was very impressed by her ability to adapt to a variety of briefs, her communication with the rest of the team, and the great design solutions she produced.</p>
        <p class="author is-size-5 is-size-6-mobile">Owais Khan, Human Appeal</p>
      </li>
      <li>
        <p class="quote is-size-3 is-size-4-mobile">Steph was a pleasure to work with from start to finish - quick, polite, patient and very talented. I will definitely be using her design services again and would recommend her to anyone!</p>
        <p class="author is-size-5 is-size-6-mobile">Sarah Myles, Dance Inc.</p>
      </li>
    </ul>

  </div>

</section>