<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Stephanie Slater | Etcetera Design | UX Designer London</title>
    <meta name="description" content="Freelance UX by Stephanie Slater">
    <meta name="keywords" content="freelance, ux, design, stephanie, slater, etcetera, manchester, web, app, print, logo">
    <meta name="og:image" property="og:image" content="https://etcetera.design/images/feature-photo.jpg">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/fonts.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="{{ layout.css | relative_url }}">
    <link rel="stylesheet" href="{{ page.css | relative_url }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bxslider/4.2.15/jquery.bxslider.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bxslider/4.2.15/jquery.bxslider.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.11/lodash.min.js"></script>
    <script src="/js/main.js"></script>
    <style>

      {% if page.nav_text_color %}
        .navbar-item{
          color: {{ page.nav_text_color }} !important;
        }
      {% endif %}

      {% if page.nav_text_color_hover %}
        .navbar-item:hover{
          color: {{ page.nav_text_color_hover }} !important;
        }
      {% endif %}

    </style>
  </head>
  <body>
    <nav class="navbar" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a class="navbar-item" href="/">
          <img src="images/etc-logo.png">
        </a>
        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>
      <div class="navbar-menu">
        <div class="navbar-start">
          <a href="{% if page.url != '/' %}/{% endif %}#projects" class="navbar-item">work</a>
          <a href="{% if page.url != '/' %}/{% endif %}#services" class="navbar-item">services</a>
        </div>
      </div>
      <div class="navbar-menu">
        <div class="navbar-end">
          <a href="/about" class="navbar-item">about</a>
          <a href="{% if page.url != '/' %}/{% endif %}#contact" class="navbar-item">contact</a>
        </div>
      </div>
    </nav>

    {{ content }}

    <section id="contact">

      <p class="is-size-4 is-size-5-mobile">Let's chat</p>
      <a class="is-size-2 is-size-4-mobile email" href="mailto:steph@etcetera.design">steph@etcetera.design</a>
      <ul>
        <li><a href="https://www.instagram.com/_etceteradesign"><img src="images/instagram.svg"></a></li>
        <li><a href="https://twitter.com/_etceteradesign"><img src="images/twitter.svg"></a></li>
        <li><a href="https://www.linkedin.com/in/stephanie-slater-etcetera/"><img src="images/linked-in.svg"></a></li>
      </ul>

    </section>

  </body>
</html>
