html{
  height: 100%;
  overflow: auto;
}
body {
  height: 100%;
}

html{
  overflow-x: hidden;
}

section {
    position: relative;
}
section:before {
    position: absolute;
    content:'';
}
.diagonal {
    z-index: 1;
    padding: 3em 0;
}
.diagonal:before {
    top: 0;
    left: -25%;
    z-index: -1;
    width: 150%;
    height: 75%;
    background: inherit;
}
.diagonal.anticlockwise:before{
    -webkit-transform: rotate(-3deg);
    transform: rotate(-3deg);
    -webkit-transform-origin: 3% 0;
    transform-origin: 3% 0;
}
.diagonal.clockwise:before{
    -webkit-transform: rotate(3deg);
    transform: rotate(3deg);
    -webkit-transform-origin: 97% 0;
    transform-origin: 97% 0;
}

.specialHeading {
  font-family: "RobotoMono-Regular";
  margin-bottom: 9%;
  position: relative;
  display: inline-block;
}

.specialHeading:before{
  content: "";
  position: absolute;
  width: 110%;
  height: 92%;
  top: 50%;
  left: 0;
  background: #fdc523;
  z-index: -1;
}

a.specialHeading{
  text-decoration: none;
  color: black;
}

a.specialHeading:hover{
  text-decoration: none;
  color: black;
}

a.specialHeading:hover:before{
  background: #3a86ff;
}

/* Bootstrap Customisations */

.row.no-gutters {
  margin-right: 0;
  margin-left: 0;
}
.row.no-gutters > [class^="col-"],
.row.no-gutters > [class*=" col-"] {
  padding-right: 0;
  padding-left: 0;
}

/*==================================================
=            Bootstrap 3 Media Queries             =
==================================================*/

/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */ 
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */ 
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}

/*==========  Non-Mobile First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
  .col-centered {
    float: none;
    margin: 0 auto;
  }
}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {
  
}

/* Custom, iPhone Retina */ 
@media only screen and (max-width : 320px) {

}

/* FONTS */

@font-face {
  font-family: 'Apercu-Mono';
  src: url('/fonts/ApercuMono/Apercu-Mono.eot');
  src: url('/fonts/ApercuMono/Apercu-Mono.woff2') format('woff2'),
       url('/fonts/ApercuMono/Apercu-Mono.woff') format('woff'),
       url('/fonts/ApercuMono/Apercu-Mono.ttf') format('truetype'),
       url('/fonts/ApercuMono/Apercu-Mono.svg#Apercu-Mono') format('svg'),
       url('/fonts/ApercuMono/Apercu-Mono.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Apercu-Light';
  src: url('/fonts/ApercuLight/Apercu-Light.eot');
  src: url('/fonts/ApercuLight/Apercu-Light.woff2') format('woff2'),
       url('/fonts/ApercuLight/Apercu-Light.woff') format('woff'),
       url('/fonts/ApercuLight/Apercu-Light.ttf') format('truetype'),
       url('/fonts/ApercuLight/Apercu-Light.svg#Apercu-Regular') format('svg'),
       url('/fonts/ApercuLight/Apercu-Light.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Apercu-Regular';
  src: url('/fonts/ApercuRegular/Apercu-Regular.eot');
  src: url('/fonts/ApercuRegular/Apercu-Regular.woff2') format('woff2'),
       url('/fonts/ApercuRegular/Apercu-Regular.woff') format('woff'),
       url('/fonts/ApercuRegular/Apercu-Regular.ttf') format('truetype'),
       url('/fonts/ApercuRegular/Apercu-Regular.svg#Apercu-Regular') format('svg'),
       url('/fonts/ApercuRegular/Apercu-Regular.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Apercu-Medium';
  src: url('/fonts/ApercuMedium/Apercu-Medium.eot');
  src: url('/fonts/ApercuMedium/Apercu-Medium.woff2') format('woff2'),
       url('/fonts/ApercuMedium/Apercu-Medium.woff') format('woff'),
       url('/fonts/ApercuMedium/Apercu-Medium.ttf') format('truetype'),
       url('/fonts/ApercuMedium/Apercu-Medium.svg#Apercu-Medium') format('svg'),
       url('/fonts/ApercuMedium/Apercu-Medium.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Apercu-Bold';
  src: url('/fonts/ApercuBold/Apercu-Bold.eot');
  src: url('/fonts/ApercuBold/Apercu-Bold.woff2') format('woff2'),
       url('/fonts/ApercuBold/Apercu-Bold.woff') format('woff'),
       url('/fonts/ApercuBold/Apercu-Bold.ttf') format('truetype'),
       url('/fonts/ApercuBold/Apercu-Bold.svg#Apercu-Bold') format('svg'),
       url('/fonts/ApercuBold/Apercu-Bold.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'RobotoMono-Regular';
  src: url('/fonts/RobotoMonoRegular/RobotoMono-Regular.eot');
  src: url('/fonts/RobotoMonoRegular/RobotoMono-Regular.woff2') format('woff2'),
       url('/fonts/RobotoMonoRegular/RobotoMono-Regular.woff') format('woff'),
       url('/fonts/RobotoMonoRegular/RobotoMono-Regular.ttf') format('truetype'),
       url('/fonts/RobotoMonoRegular/RobotoMono-Regular.svg#RobotoMono-Regular') format('svg'),
       url('/fonts/RobotoMonoRegular/RobotoMono-Regular.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

